.profile__info-box {
  display: flex;
  max-width: 336px;
  gap: 18px;
  margin-top: 22px;
}

/* @media screen and (max-width: 767px) {
  .profile__info-box {
    flex-direction: column;
    margin: 36px 19px 51px 19px;
  }
} */
