.profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0 200px 51px 200px;
  max-width: 880px;
}

/* display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: minmax(100px, auto); */
/* grid-template-columns: repeat(3, 1fr);
  grid-gap: 17px; */
