.header {
  max-width: 880px;
  margin: 45px auto 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 19px 0 19px;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 36px 19px 51px 19px;
  }
}
