.elements {
  display: grid;
  /* position: absolute; */
  margin: 0 auto 66px auto;
  /* justify-content: center; */
  max-width: 880px;
  /* max-height: 744px; */
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  /* grid-auto-rows: 282px;x */
  justify-items: center;
  grid-gap: 17px;
  padding: 0 19px 0 19px;
}

@media screen and (max-width: 767px) {
  .elements {
    width: calc(100% - 38px);
    margin: 64px 0 0 16px;
    grid-gap: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(282px, 1fr)); */
  }
}
